.card{
    width: 150px;
    transition: .4s all ease;
    margin: 0 30px;
    padding: 10px;
    border-radius: 20px;
    position: relative;

    img{
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
    }

    .unliked {
      position: absolute;
      top: 10px;
      left: 10px; 
      cursor: pointer;
      z-index: 20;
      transition: all .3s ease;

      &:hover {
        transform: scale(1.2);
      }
    }

    h5 {
      color: rgb(70, 70, 70);
    }

    .card_info {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .card_info_left{   

        p {
          margin: 0;
          font-size: 14px;
          color: rgb(100, 100, 100);
        }
      }

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25px;
        height: 30px;
        outline: none;
        border: none;
        cursor: pointer;
        background: #fff;
        
        img {
          width: 15px;
        }
      }
      
      button:hover{
        transform: scale(1.1  );
      }
    }

  }

  .card:hover {
    transform: scale(1.05);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }