body {
  margin: 0;
  font-family: -apple-system, system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(188, 198, 255, 0.8);
}


.wrapper {
  max-width: 1080px;
  padding: 20px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, .04);
  margin: 2% auto;

  .content_top {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row;  
    align-items: center;

    h1 {
      margin: 10px 20px;
    }
    
    .search_input{
      position: absolute;
      opacity: .5;
      width: 20px;
      height: 20px;
      top: 20px;
      right: 250px;
      transform: scaleX(-1);  
      cursor: pointer;
    }

    .closeSearch{
      position: absolute;
      top: 20px;
      right: 30px;
      opacity: .5;
      cursor: pointer;
    }

    input {
      height: 20px;
      width: 180px;
      outline: none;
      margin: 10px 20px;
      border: 1px solid rgb(189, 189, 189);
      border-radius: 20px;
      padding: 10px 40px;
      font-size: 16px;
      color: #212121;
    }
  }

  .cards{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0 7%;
    align-items: center;
  }
}